<h3 class="text-center">Search contacts by</h3>

<div class="horizontal-form container-fluid" style="max-width: 600px; clear: right">

    <div class="form-group">
        <label for="name" class="control-label col-sm-3">Name: </label>
        <div class="col-sm-9">
            <input id="name" class="form-control col-sm-9" type="text" ng-model="filterFields.name">
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="control-label col-sm-3">Username: </label>
        <div class="col-sm-9">
            <input id="username" class="form-control" type="text" ng-model="filterFields.username">
        </div>
    </div>

    <div class="form-group">
        <label for="companyName" class="control-label col-sm-3">Company name:</label>
        <div class="col-sm-9">
            <input id="companyName" class="form-control" type="text" ng-model="filterFields.companyName">
        </div>
    </div>

</div>


